Repository omnixys/omnixys-ticket-service: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

feat(ticket-service): set up PostgreSQL database, schema and Prisma models
  .extras/sql/create-db-user.sql
  .extras/sql/create-schema-user.sql
  prisma/migrations/20251117160647_init/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/schema.prisma
Due: none

feat(ticket-service): implement GraphQL schema, DTOs, inputs and payloads
  src/ticket/models/entities/scan-log.entity.ts
  src/ticket/models/entities/share-guard.entity.ts
  src/ticket/models/entities/ticket.entity.ts
  src/ticket/models/enums/presence-state.enum.ts
  src/ticket/models/enums/scan-verdict.enum.ts
  src/ticket/models/inputs/bind-device.input.ts
  src/ticket/models/inputs/rotate-ticket.input.ts
  src/ticket/models/inputs/scan-ticket.input.ts
  src/ticket/models/payloads/scan-result.payload.ts
  src/ticket/models/payloads/ticket-payload.ts
Due: prettier --write, eslint --fix

feat(): workflow completed
  src/handlers/handler.module.ts
  src/handlers/user.handler.ts
  src/logger/logger-plus.ts
  src/messaging/decorators/kafka-envelope.type.ts
  src/messaging/kafka-producer.service.ts
  src/messaging/kafka-topic.properties.ts
  src/ticket/models/inputs/rotate-nonce.input.ts
  src/ticket/models/inputs/toggle-presence.input.ts
  src/ticket/resolvers/ticket-mutation.resolver.ts
  src/ticket/service/ticket-write.service.ts
  src/ticket/service/verify.service.ts
Due: prettier --write, eslint --fix

1.0.0
  Dockerfile
  docker-bake.hcl
  package.json
  prisma/migrations/20251128191908_kp/migration.sql
  src/auth/utils/gql-context.ts
  src/config/env.ts
  src/config/otel.ts
  src/handlers/authentication.handler.ts
  src/handlers/handler.module.ts
  src/messaging/kafka-producer.service.ts
  src/messaging/kafka-topic.properties.ts
  src/prisma/prisma.service.ts
  src/ticket/models/dto/assign-seat.input.ts
  src/ticket/models/dto/create-ticket.dto.ts
  src/ticket/models/inputs/assign-seat.input.ts
  src/ticket/models/inputs/create-ticket.input.ts
  src/ticket/models/inputs/verify-token.input.ts
  src/ticket/resolvers/ticket-mutation.resolver.ts
  src/ticket/resolvers/ticket-query.resolver.ts
  src/ticket/service/ticket-read.service.ts
  src/ticket/service/ticket-write.service.ts
  src/ticket/service/verify.service.ts
  src/ticket/utils/token.service.ts
Due: prettier --write, eslint --fix

add tests
  __tests__/e2e/authentication/authentication.admin.e2e-spec.ts
  __tests__/e2e/authentication/authentication.login.e2e-spec.ts
  __tests__/e2e/authentication/authentication.signup.e2e-spec.ts
  __tests__/e2e/authentication/authentication.user.e2e-spec.ts
  __tests__/e2e/setup-e2e.ts
  __tests__/env.ts
  __tests__/keycloak/omnixys-realm.json
  __tests__/tsconfig.test.json
  __tests__/utils/graphql-client.ts
  __tests__/utils/graphql-types.ts
Due: prettier --write, eslint --fix

Update env.ts
  src/config/env.ts
Due: prettier --write, eslint --fix

update DockerFile
  .github/workflows/ci.yaml
  .github/workflows/docker-build.yaml
  Dockerfile
Due: prettier --write

update
  src/auth/guards/role.guard.ts
  src/config/otel.ts
  src/messaging/kafka-topic.properties.ts
  src/ticket/models/mapper/scan-logs.mapper.ts
  src/ticket/models/mapper/share-guard.mapper.ts
  src/ticket/models/mapper/ticket.mapper.ts
  src/ticket/service/ticket-write.service.ts
  src/ticket/service/verify.service.ts
  src/ticket/utils/token.service.ts
  src/types/fastify-cookie.d.ts
Due: prettier --write, eslint --fix

update
  .github/workflows/docker-build.yaml
  .husky/commit-msg
  .husky/pre-commit
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  prisma.config.ts
  prisma/schema.prisma
  src/prisma/generated/browser.ts
  src/prisma/generated/client.ts
  src/prisma/generated/commonInputTypes.ts
  src/prisma/generated/enums.ts
  src/prisma/generated/internal/class.ts
  src/prisma/generated/internal/prismaNamespace.ts
  src/prisma/generated/internal/prismaNamespaceBrowser.ts
  src/prisma/generated/models.ts
  src/prisma/generated/models/ScanLog.ts
  src/prisma/generated/models/ShareGuard.ts
  src/prisma/generated/models/Ticket.ts
  src/prisma/prisma.service.ts
  src/ticket/models/mapper/scan-logs.mapper.ts
  src/ticket/models/mapper/share-guard.mapper.ts
  src/ticket/models/mapper/ticket.mapper.ts
Due: prettier --write, eslint --fix

Update cors.ts
  src/config/cors.ts
Due: prettier --write, eslint --fix

Create deploy.yml
  .github/workflows/deploy.yml
Due: prettier --write

Update deploy.yml
  .github/workflows/deploy.yml
Due: prettier --write

add attribute checkedInAt
  package.json
  pnpm-lock.yaml
  prisma/schema.prisma
  prisma/seed.ts
  src/prisma/generated/browser.ts
  src/prisma/generated/client.ts
  src/prisma/generated/commonInputTypes.ts
  src/prisma/generated/enums.ts
  src/prisma/generated/internal/class.ts
  src/prisma/generated/internal/prismaNamespace.ts
  src/prisma/generated/internal/prismaNamespaceBrowser.ts
  src/prisma/generated/models.ts
  src/prisma/generated/models/ScanLog.ts
  src/prisma/generated/models/ShareGuard.ts
  src/prisma/generated/models/Ticket.ts
  src/ticket/models/entities/ticket.entity.ts
  src/ticket/models/mapper/ticket.mapper.ts
  src/ticket/service/ticket-write.service.ts
  src/ticket/utils/null-to-undefined.ts
Due: prettier --write, eslint --fix

Update seed.ts
  prisma/seed.ts
Due: prettier --write, eslint --fix

Create migration.sql
  prisma/migrations/20260111003650_add_attribute_checked_in_at/migration.sql
Due: none

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  485c65cd9b3e8ec1fcbb48e5de9e28191f4fe709
Due: none

fix(ci): update CI
  commitlint.config.mjs
Due: none

chore(release): 1.0.1 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  4cae29aac462d4fd93dbcb0a0b68e51a8e097ecd
Due: none

fix(ci): change serets.SERVICE to vars.SERVICE
  .github/workflows/ci.yaml
  .github/workflows/deploy.yml
  .github/workflows/repo-label.yml
Due: prettier --write

chore(release): 1.0.2 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  492d2e78aaffd46f459a150e2d2a9d4ba43858e7
Due: none

fix(release-ci): fix Release CI Job
  .github/workflows/release.yml
Due: prettier --write

chore(release): 1.0.3 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  5b0ec0b7e3f47a83b0eaf43e55b998381c77a405
Due: none

fix(release-ci): add @semantic-release/npm
  package.json
  pnpm-lock.yaml
  release.config.js
Due: prettier --write

chore(release): 1.0.4 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  429d36ba07480fbbb3287f7da522231e35866f98
Due: none

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,json,md,yml,yaml}
  eslint --fix: any of: *.{ts,tsx}
